@font-face {
    font-family: Amari;
    src: url("fonts/Amari_Font_16-100-Regular.otf") format("opentype");
}

@font-face {
    font-family: Manrope;
    font-weight: 200;
    src: url("fonts/Manrope/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 300;
    src: url("fonts/Manrope/Manrope-Light.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 400;
    src: url("fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 500;
    src: url("fonts/Manrope/Manrope-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 600;
    src: url("fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 700;
    src: url("fonts/Manrope/Manrope-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 800;
    src: url("fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
}

html, body {
    background-color: #FFFAEA;
    font-family: Manrope, Roboto, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1, h2, h3 {
    font-weight: normal;
    color: #2B2B2B;
}

a {
    color: #2B2B2B;
}

p {
    color: #2B2B2B;
}

::-moz-selection { /* Code for Firefox */
    /* background: rgb(255, 255, 255); */
    background: #FFFFFC;
}
  
::selection {
    /* background: rgb(255, 255, 255); */
    background: #FFFFFC;
}

.ultra-conatiner {
    padding: 23px 15px;
}

/* LANDING */
.landing {
    /* height: calc(100vh - 190px); */
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-first, .name-last {
    font-family: Amari, serif;
    margin: 0;
}

.name-last {
    white-space: initial;
}

.my-profession {
    font-size: 16px;
}

.animation-container {
    height: 230px;
    border: 1px solid black;
}

.my-interest {
    font-size: 16px;
    /* text-align: right; */
}

.my-cv {
    font-size: 20px;
    text-align: right;
}

.social-container {
    display: flex;
    justify-content: flex-end;
}

.social-icon {
    height: 30px;
    padding-left: 7px;
}

/* WORK */
.work-history {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.work-history-item {
    /* width: 80vw; */
    /* border-radius: 6px; */
    border: 1px solid #2B2B2B;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 7px;
    /* background-color: #F3F3F2; */
    /* justify-content: center; */
    /* align-items: center; */
}

.work-history-item a {
    text-decoration: none;
}

.work-history-item a:hover {
    color: #DCDDDD;
}

.work-organization {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.work-role {
    font-size: 16px;
    margin: 0;
}

.work-description {
    font-size: 14px;
    margin: 0;
}

.work-link-container {
    display: flex;
}

.work-link, .work-link-2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    /* text-decoration: underline; */
}

.work-link-2 {

}

.work-period {
    font-size: 14px;
    margin: 0;
    color: #2E2930;
    /* color: #E5E4E6; */
}

.work-img {
    width: 100%;
    height: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}