@font-face {
    font-family: Amari;
    src: url("fonts/Amari_Font_16-100-Regular.otf") format("opentype");
}

@font-face {
    font-family: Manrope;
    font-weight: 200;
    src: url("fonts/Manrope/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 300;
    src: url("fonts/Manrope/Manrope-Light.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 400;
    src: url("fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 500;
    src: url("fonts/Manrope/Manrope-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 600;
    src: url("fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 700;
    src: url("fonts/Manrope/Manrope-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Manrope;
    font-weight: 800;
    src: url("fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
}

html, body {
    background-color: #FFFAEA;
    font-family: Manrope, Roboto, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1, h2, h3 {
    font-weight: normal;
    color: #2B2B2B;
}

a, p, li {
    color: #2B2B2B;
    color: #2B2B2B;
}

ul,
ul li,
ul ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: 0;
   list-style: none;
}

::-moz-selection { /* Code for Firefox */
    /* background: rgb(255, 255, 255); */
    background: #FFFFFC;
}
  
::selection {
    /* background: rgb(255, 255, 255); */
    background: #FFFFFC;
}

.ultra-conatiner {
    padding: 23px 15px;
}

/* LANDING */
.landing {
    /* height: calc(100vh - 190px); */
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 5px;
}

.nav-icon {
    transition: transform .7s ease-in-out;
}

.nav-icon:hover {
    transform: rotate(225deg);
}

.nav-bar li {
    font-size: 24px; /* 32px for desktop */
}

.nav-bar li a {
    text-decoration: none;
}

.nav-bar {
    display: none; /* hide */
}

.nav-icon:hover + .nav-bar {
    display: block; /* display */
}

.nav-container + .nav-bar {
    display: block; /* keep displaying */
}

.nav-bar:hover {
    display: block; /* keep displaying */
}

.name-first, .name-last {
    font-family: Amari, serif;
    margin: 0;
}

.name-last {
    white-space: initial;
}

.my-profession {
    font-size: 16px;
}

/* animation */
.animation-container {
    width: 100%;
    height: 230px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.animation-content {
    display: flex;
    align-items: center;

    height: 100%;
    min-height: 195px;

    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
}
  
@keyframes marquee {
    from { transform: translateX(50%); }
    to { transform: translateX(-50%); }
}

.my-interest-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.my-interest {
    font-size: 16px;
    margin: 0;
}

.my-cv {
    font-size: 20px;
    text-align: right;
}

.social-container {
    display: flex;
    justify-content: flex-end;
}

.social-icon {
    height: 25px;
    padding-left: 7px;
}

/* WORK */
.work-history {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.work-history-item {
    border: 1px solid #2B2B2B;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 7px;
}

.work-history-item a {
    text-decoration: none;
}

.work-organization {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.work-role {
    font-size: 16px;
    margin: 0;
}

.work-description {
    font-size: 14px;
    margin: 0;
}

.work-link-container {
    display: flex;
}

.work-link, .work-link-2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    /* text-decoration: underline; */
}

.work-period {
    font-size: 14px;
    margin: 0;
    color: #2E2930;
}

.work-img {
    width: 100%;
    height: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    ul.nav-bar li { 
        font-size: 32px;
    }

    .my-profession {
        font-size: 20px;
    }

    .my-interest {
        font-size: 20px;
    }

    .my-interest-container {
        width: 70%;
    }

    .my-cv {
        font-size: 24px;
    }

    .work-history {
        justify-content: center;
        align-items: center;
    }
    .work-history-item {
        width: 75%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .work-history-item {
        width: 50%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}